<form method="post">
  <p>Name: <input name="name" required value="{{ product[1] if product else '' }}"></p>
  <p>Code: <input name="code" required value="{{ product[2] if product else '' }}"></p>
  <p>Unit: <input name="unit" required value="{{ product[3] if product else '' }}"></p>

  <p>Import price: <input name="import_price" value="{{ product[4] if product else '0' }}"></p>
  <p>Sell price: <input name="sell_price" value="{{ product[5] if product else '0' }}"></p>

  <p>Stock: <input name="stock" value="{{ product[6] if product else '0' }}"></p>

  <p>Imported date (YYYY-MM-DD):
    <input name="imported_date" required value="{{ product[7] if product else '' }}">
  </p>

  <button type="submit">Lưu</button>
</form>
