<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Shop</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

  <nav>
    <a href="/products">Products</a> |
    <a href="/customers">Customers</a> |
    <a href="/invoices">Invoices</a>
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flash">
        {% for cat, msg in messages %}
          <li class="{{cat}}">{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</body>
</html>