{% extends "base.html" %}

{% block content %}

<h2>QUẢN LÝ SẢN PHẨM</h2>

<p>
    <a href="/products/add">+ Thêm sản phẩm</a>
</p>

<hr>
<hr>

<table border="1" cellpadding="8">

    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Đơn vị</th>
        <th>Giá nhập</th>
        <th>Giá bán</th>
        <th>Tồn kho</th>
        <th>Thao tác</th>
    </tr>

    {% for product in products %}

    <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.unit }}</td>
        <td>{{ product.import_price }}</td>
        <td>{{ product.selling_price }}</td>
        <td>{{ product.stock }}</td>

        <td>
            <a href="/products/edit/{{ product.id }}">Sửa</a> |
            <a href="/products/delete/{{ product.id }}">Xóa</a>
        </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}