{% extends "base.html" %}

{% block content %}

<h2>Quản lý hóa đơn</h2>
<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Ngày lập</th>
        <th>Khách hàng</th>
        <th>Nhân viên</th>
        <th>Tổng tiền</th>
    </tr>

    {% for invoice in invoices %}
    <tr>
        <td>{{ invoice.id }}</td>
        <td>{{ invoice.date }}</td>
        <td>{{ invoice.customer.name }}</td>
        <td>{{ invoice.employee.name }}</td>
        <td>{{ invoice.total_amount }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}