{% extends "base.html" %}

{% block content %}

<h2>ĐĂNG NHẬP</h2>

{% if error %}

<p style="color: red;">
    {{ error }}
</p>

{% endif %}

<form action="/auth/login-page" method="post">

    <p>
        <label>Tên đăng nhập</label><br>

        <input
            type="text"
            name="username"
            required
        >
    </p>

    <p>
        <label>Mật khẩu</label><br>

        <input
            type="password"
            name="password"
            required
        >
    </p>

    <button type="submit">
        Đăng nhập
    </button>

</form>

{% endblock %}